*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.sidebar, .cadastro-container{
    display: flex;
}

.cadastro-container{
    flex-direction: column;
    padding-left: 210px;
}

.cadastro-container h1{
    padding-top: 10px;
}

.cadastro-container form{
    display: flex;
    flex-direction: column;
}

.cadastro-container label{
    padding: 10px
}

#input-text{
  display: flex;
  flex-direction: row;
}