* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  .sidebar,
  .cadastro-container {
    display: flex;
  }
  
  .cadastro-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 250px;
    padding-top: 25px;
  }

  .cadastro-container img {
      width: 100%;
      height: auto;
  }
  .cadastro-container h1 {
    padding-bottom: 35px;
  }
  
  .cadastro-container form {
    display: flex;
    flex-direction: column;
    margin-right: auto;
  }
  
  .cadastro-container label {
    padding: 10px;
  }
  
  #input-text {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 20px;
    width: 250px;
  }