body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
}
h2 {
    color: #333;
}
.nota-fiscal {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.nota-fiscal h3 {
    margin-top: 0;
    color: #666;
}
.nota-fiscal p {
    margin: 5px 0;
    color: #333;
}